
<div class="home-wrapper">  
  <div class="jumbotron center">
    <h1>Sherlock App</h1>
    <p>Welcome to Sherlock Application where users can publish microposts and follow users.</p>
    <hr>
    <%= link_to 'Sign up here', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
