<% provide :title, 'Signup' %>
<% provide(:button_text, 'Create my account') %>

<div class="row">
  <div class="col-sm-6 offset-sm-2">
    <h2 class="text-center">Sign Up</h2>
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
    <p>Already have an account? <%= link_to 'Log in', login_path %></p>
  </div>
</div>
