<% if object.errors.any? %>
  <div id="error_explanation">
   <h3 class="text-danger">The form contains <%= pluralize(object.errors.count, 'error') %> errors</h3>
   <ul class="list-group">
     <% object.errors.full_messages.each do |msg| %>
       <li class="list-group-item list-group-item-danger"><%= msg %></li>
        <% end %>
      </ul>
   </div>
<% end %>
